
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<ul>
    <li> @Html.ActionLink("want  a link for list", "List", "Customer") </li>
   <li>@Html.ActionLink("want add","Create","Customer") </li>
    <li>@Html.ActionLink("Want to edit", "Edit", "Customer")</li>
    <li>@Html.ActionLink("Want to delete","Delete","Customer")</li>
    


</ul>